<div class= "container">
<div class="form-retreat-list">
  <h2>How it All Started...</h2>
</div>

<ul class="nav nav-tabs m-5">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:grey;">Our Story</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href= "#" style="color:grey">Past Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" style="color:grey;">What We Do</a>
  </li>

</ul>






</div>
