<div class= "container">
<div class="form-retreat-list">
  <h2>How it All Started...</h2>
</div>


  <div class="card-about">

    <%= image_tag "about1.png" %>

  </div>

  <div class="card-about">

  <h2> How did it start?  </h2>

  <p>
      It all started while attending a yoga retreat many years ago.. Started attending more retreats to experience what it is like to be on a retreat.
      In 2012, hosted first retreat. After that 1 retreat a year for Rima´s yoga studio, restonyoga.com.
  </p>

  <p>
   Clients were happy so we continued with more
  </p>

  </div>

  <div class="card-about">

  <h2> Why go on a yoga retreat?  </h2>

  <p>

Travel expands your whole existence and resets your perspective. Sometimes the only way to regain control is to let go, get away from your daily routine and get back to yourself. Attend a retreat with Reston Yoga and experience the transformative practice of yoga in a beautiful, unique environment. A retreat experience will enrich your life and allow you to escape and relax. You will enjoy healthy fresh local meals, learn about different cultures, find new sensations, make new connections and maybe rediscover something about yourself. After a retreat, you will never be quite the same. You will feel more productive, relaxed and at peace.

  </p>
  </div>
  </div>
