<div class="footer footer-links position-fixed bottom-0 bg-white w-100">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house fa-1xl"></i>
    <% end %>
    <%= link_to destinations_path do %>
      <%# <i class="fa-solid fa-spa fa-1xl"></i> %>
      <i class="fa-solid fa-magnifying-glass fa-1xl"></i>
    <% end %>

    <%= link_to categories_path do %>
      <i class="fa-solid fa-spa fa-1xl"></i>
    <% end %>

    <%= link_to root_path do %>
      <i class="fa-regular fa-comment-dots fa-1xl"></i>
    <% end %>


</div>
