 
  <div class="flex-container">

    <div class="flex-item">
      <%= link_to trips_path, class: "btn d-flex flex-column " do %>
        <span>Attend Trip</span>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
          <i class="fa-solid fa-suitcase fa-2xl"></i>
        </div>
      <% end %>
    </div>

    <div class="flex-item">
      <%= link_to new_trip_path, class: "btn d-flex flex-column" do %>
      <span>Plan Trip</span>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <%# <i class="fa-solid fa-plane fa-2xl"></i> %>
       <%# <i class="fa-solid fa-objects-column fa-2xl"></i> %>
       <i class= "fa-solid fa-list-check fa-2xl" ></i>
      </div>
      <% end %>
    </div>
  </div>
