<%# <h1>be well trips!</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="banner">
  <div class="banner-content">
    <h1>Your Wellness Trip is Waiting</h1>
   <div> <p class="typewriter">Invest in Yourself...</p>  </div>
    <%= link_to "Book Retreat",root_path, class: "btn" %>
  </div>
</div>

