

  <div class="d-flex flex-container justify-content-evenly flex-column align-items-center">

   <div class="banner d-flex flex-column">
      <div class="banner-content">

          <h1> Travel Experiences  </h1>
          <h2> for the mind, body & soul </h2>

           <div>  <p class="typewriter" > Join our next Wellness Trip...</p>   </div>

      </div>

  </div>


    <div class="search_bar d-flex search-location">
      <%= form_with url: trips_path, method: :get, class: "d-flex flex-grow-1 mx-4" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control flex-grow-1 me-2",
        placeholder: "Where would you like to go?"%>
        <%= submit_tag "Go", class: "btn-simple"%>
      <% end %>
    </div>
  </div>
