
.banner {
  height: 400px;
  width: 1200px;
  margin: 0 auto;
  top: 142px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image:image-url("background.png");
  background-size: cover;
  background-position: center;

  h1 {

    font-family: 'Montserrat', sans-serif;

    font-size: 38px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }
  p {
    font-family: 'Montserrat', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: .9;
    font-size: 20px;
    font-weight: light;
    margin-bottom: 35px;
    letter-spacing: 0.5em;
    background-color: white;
  }
  .btn{

    font-family: 'Montserrat';
    background: #F46D3C;
    color:#FFFFFF ;
    border-radius: 10px;
    font-weight: 800;

   }
}

.banner-content {
  width: 100%;
  margin: 75px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(20) 1s forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 50%; }
}
