.search_bar {
  width: 300px;
  border-radius: 10px;
}

.search-location {
  width: 50%;
}

.search_bar_home {
  position: relative;
  top: 31vh;
}

@media(max-width: 768px) {
  .search_bar_home {
    position: relative;
    top: 34vh;
    left: 8vw;
  }

  .search-location {
    width: 100%;
  }
}

.search_bar_by_category {
  width: 350px;
  border-radius: 10px;
}
