.search_bar {
  width: 300px;
  border-radius: 10px;
}

.search-location {
  width: 50%;
}

.search_bar_home {
  position: relative;
  top: 31vh;
}

@media(max-width: 768px) {
  .search_bar_home {
    position: relative;
    top: 34vh;
    left: 8vw;
  }

  .search-location {
    width: 100%;
  }
}

.search_bar_by_category {
  width: 500px;
  border-radius: 10px;
}


.btn-search
{
 font-family: 'Montserrat';
 font-style: bold;
 font-size: 20;
  border: 5px outset coral;
  background-color: coral;
  color: white;
  border-radius: 10px;
  font-weight: 800;
 //  height:100px;
 //  width: 100px;
  cursor:pointer;
 //margin-top: 500px;
 //  margin-bottom: 200px;
 }
  .btn-simple:hover {
   // background-color: lightblue;
   background-color: white;
   color: coral;
}
